.ctb-mcw {
    clear: both;
}

.ctb-mcw .tl_modulewizard {
    width: 100%;
}

.ctb-mcw .multicolumnwizard textarea,
.ctb-mcw .multicolumnwizard .tl_select {
    width: 100% !important;
    max-width: none !important;
}

.ctb-navbar-mcw .tl_modulewizard td:first-child {
    width: auto;
}

.ctb-navbar-mcw td {
    display: table;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .ctb-mcw .tl_modulewizard {
        max-width: 75%;
    }

    .ctb-navbar-mcw td {
        display: table-cell;
        width: auto;
    }

    .ctb-navbar-mcw td:nth-child(1),
    .ctb-navbar-mcw td:nth-child(2) {
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    .ctb-navbar-mcw .tl_modulewizard td:first-child {
        width: 100%;
    }
}
